* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}
body {
  margin: 0;

}
.content{
	justify-content: center;
	text-align: center;
	top: 25%;
	width: 100%;
	position: absolute;
}
fieldset {
	border: 0;
}
label{
	display: block;
}
