* {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
	display: grid;
	place-items: center;
	background-color: cornsilk;
	height: 100vh;
}
h1, h3{
	color:chocolate;
}
form{
	--shadow: 5px 5px 5px rgba(0,0,0,0.4);
	padding: 1rem 2rem;
	background-color: white;
	border-radius: 10px;
	box-shadow: var(--shadow);
	text-align: center;
}
fieldset {
	border: 0;
	margin: 1rem 0;
}
label{
	display: block;
	font-weight: bold;
	color:chocolate
}
textarea {
	appearance: none;
	outline: 0;
	border: dotted 0.1rem chocolate;
	height: 3rem;
	width: 100%;

}
textarea::placeholder{
	color: chocolate;
	opacity: 0.8;
}

textarea:focus{
	font-weight: bold;
	opacity: 1;
}

button{
	appearance: none;
	border: none;
	color: cornsilk;
	background-color: chocolate;
	border-radius: 10px;
	width: 100%;
	padding: 1rem;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
}
